.title-slide {
  background-image: 
    url("bslib.png"),  
    url("tidyverse.png"), 
    url("htmltools.png"), 
    url("rsconnect.png"), 
    url("shiny.png"),
    url("thematic.png"),
    url("background2.png");
  background-size:  10%, 10%, 10%, 10%, 10%, 10%, cover;
  background-position: 80% 0%, 91% 0%, 85.5% 23%, 74.5% 23%, 69% 0%, 80% 46%, 10% 0;
  background-repeat: no-repeat;
}

/*remueve hr en la slide principal luego del h2 */
.title-slide h2::after {
    background-color: none;
    color: none;
    height: 0px;
}

.title       > h1, 
.subtitle    > h2,
.author      > h3,
.title-slide > h1,
.title-slide > h2,
.title-slide > h3 {
  color: #fff;
}

p, ul > li {
    font-size: 1.0em;
}

li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

pre > b {
    color: #112940; /* https://www.colorhexa.com/dba675 */
}

.inverse {
    background-color: #36454F;
}

.remark-slide-content {
    border-top: 80px solid #36454F;
}



@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap);

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 80%;
}

